@font-face{
    font-family: 'Myriad';
    src: url('../assets/fonts/myriadpro-light.otf');
}

.logo-dims{
    width: 170px;
}
.search-conect{
    margin-top: 250px;
}
.center-alignment{
    text-align: center;
}
.title-alignment{
    font-family: 'Myriad';
    margin-left: 120px;
    margin-top: 130px;
}
.search-input-dims{
    border: solid 1px #3d3c3c79 ;
    color: #3d3c3c79  !important;
    outline: none !important;
    background-image: url('../assets/svgfiles/search-solid.svg');
    background-repeat: no-repeat;
    background-size:20px;
    background-position: 10px 15px;
    padding-left: 40px !important;
    outline: none !important;
    background-image: '';
    font-family: 'Myriad';
    width: 520px !important;
    height: 54px;
    padding: 6px;
    margin-top: 40px;
}

.card-design{
    width: 65.13rem;
}
.info-card-design{
    width: 13rem;
    height: 18rem;
    border-radius: 0;
}
.connect-pfp{
    border-radius: 200px;
    width: 95px;
}

.connect-button{
    
    color: #3d3c3c79;
    background-color: #ffffff ;
    border: solid 1px #3d3c3c79;
    outline: none !important;
    padding: 6px;
    width: 40px;
    border-radius: 44px;
    position: absolute;
    left: 136px;
    transition: 0.1s ease-in-out;
}

.connect-button:hover{
    color: #0073b0;
    background-color: #00aeff65 ;
    border: solid 1px #0073b0;
}
.connect-button-success{
    color: #15e9029a;
    background-color: #15e90242 ;
    border: solid 1px #15e9029a;
    outline: none !important;
    padding: 10px;
    width: 40px;
    border-radius: 44px;
    position: absolute;
    left: 136px;
}
.card-font{
    font-family: 'Myriad';
}
.name-card{
    font-weight: 600;
}
.nav-btns{
    padding:8px;
}
.nav-design{
    border-top: solid 1px #5a59595c !important;
    background-color: #ffffff !important;

}

.saltar-btn{
    font-family: 'Myriad';
    outline: none !important;
    margin-right: 40px;
    border: 0;
    background-color: #ffffff;
    transition: 0.2s ease-in-out;
}
.saltar-btn:hover{
    background-color: #6d6c6c5d;
}
.div-nav-btns{
    display: flex; 
    margin-left: 45rem;
}

.select-all-btn{
    outline: none;
    font-family: 'Myriad';
    border: 1px solid #68676763 !important;
    color: #686767e7 !important;
    background-color: #ffffff;
    transition: 0.2s ease-in-out;
}
.select-all-btn:hover{
    background-color: #5a5a5a3f;
}

.add-contact-btn{
    font-family: 'Myriad';
    border: 0;
    background-color: #0377b9;
    color: #ffffff;
    transition: 0.2s ease-in-out;
}
.add-contact-btn:hover{
    background-color: #065786;
}
.showdisplay{
    display: block !important;
}
.hidedisplay{
    display: none !important;
}